<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Page.Title }}</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet"> 
  {{ $style := resources.Get "css/main.css" | resources.PostCSS | resources.Minify }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet" />
  {{ partial "seo/twitter.html" . }}
  {{ partial "seo/opengraph.html" . }}
</head>
<body class="font-sans bg-gray-50 dark:bg-gray-750">
  {{ block "main" . }}{{ end }}
</body>
</html>
