@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aileron";
  src: url("aileron/Aileron-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aileron";
  src: url("aileron/Aileron-Heavy.otf") format("otf");
  font-weight: 800;
  font-style: normal;
}

h3 {
  @apply font-extrabold text-3xl leading-8;
}

.phones--hero .phones__img {
  @apply w-80 lg:w-96;
}
.phones--footer .phones__img {
  @apply w-full max-w-xl;
}
